<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dao" class="cn.gaoyuan.demo.springdemo.GDaoImpl"></bean>
    <bean id="service" class="cn.gaoyuan.demo.springdemo.GServiceImpl">
        <!--通过set方法注入-->
        <property name="gDao" ref="dao"></property>
        <!--通过构造方法注入-->
        <!--<constructor-arg ref="dao"></constructor-arg>-->
    </bean>

</beans>