<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--<bean id="dao" class="cn.gaoyuan.demo.springdemo.GDaoImpl"></bean>-->
    <!--<bean id="service" class="cn.gaoyuan.demo.springdemo.GServiceImpl">-->
    <!--&lt;!&ndash;通过set方法注入&ndash;&gt;-->
    <!--<property name="gDao" ref="dao"></property>-->
    <!--&lt;!&ndash;通过构造方法注入&ndash;&gt;-->
    <!--&lt;!&ndash;<constructor-arg ref="dao"></constructor-arg>&ndash;&gt;-->
    <!--</bean>-->

    <bean id="beanDemo" class="cn.gaoyuan.demo.springdemo.demo1.BeanDemo">

    </bean>

</beans>